body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
h1 {
    font-family: 'Righteous', cursive;    
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}
h2 {
    font-family: 'Righteous', cursive;   
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
}
h3 {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}
h4 {   
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
h5 {    
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
h5 strong {
    font-weight: 700;
    color: #333333;
}
h6 {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
}